[submodule "docs/src/external/mini-lab"]
	path = docs/src/external/mini-lab
	url = https://github.com/metal-stack/mini-lab.git
[submodule "docs/src/external/metalctl"]
	path = docs/src/external/metalctl
	url = https://github.com/metal-stack/metalctl.git
